<h2>Poneys</h2>
<div id="tabPonies">
  <p *ngIf="tabPonies.length == 0">Aucune poney enregistré</p>
  <ul *ngIf="tabPonies.length > 0">
    <li *ngFor="let p of tabPonies">
      <app-pony-details [pony]="p"></app-pony-details>
      <!-- {{p | ponyTransform}} -->
      <button pButton label="Afficher" routerLink="/PonySolo/{{p.id}}" class="ui-button-rounded ui-button-success"></button>
      <button pButton label="Modifier" routerLink="/PonyUpdate/{{p.id}}" class="ui-button-rounded ui-button-warning"></button>
      <button pButton label="Effacer" (click)=delete(p.id) class="ui-button-rounded ui-button-danger"></button>
    </li>
  </ul>
</div>
