<h2>Intro</h2>
<div id="intro">
  <section>
    <h3>Création</h3>
    En 1981 (le 13 juillet), la société américaine Hasbro sort le premier poney avec des cheveux pouvant être coiffés :
    Mon poney câlin (My Pretty Pony). Son corps est de couleur marron, en plastique dur et mesure environ 25 cm de
    haut,
    ses crins sont blonds. Dans une seconde édition (My Pretty Pony and Beautiful Baby), il est accompagné d'un poney
    plus petit : il s'agit du premier Mon petit poney. Dans une troisième version, My Pretty Pony est de couleur pêche
    avec des crins roses et des cœurs de la même couleur sur les croupes.

    C'est en 1982 que sortent les premiers petits poneys appelés G1 (génération 1) par les collectionneurs, qui seront
    en
    vente jusqu'en 1993. Un dernier set exclusivement vendu aux Pays-Bas sort en 1995. En 1997 sortent les G2 avec un
    design différent. Devant le peu de succès des G2, Hasbro lance les G3 dans les années 2000, se rapprochant plus des
    G1. En 2009, Hasbro fait évoluer le design de Mon petit poney vers une forme semblable à la gamme Petshop.

    <h3>Fabrication</h3>
    Les jouets Mon petit poney sont fabriqués en plastique vinyle par rotomoulage. Les symboles, yeux et joues sont
    peints. Leur cheveux en nylon sont implantés grâce à une machine à coudre. Au début des années 1980, Hasbro
    sous-traitait la production de jouets Mon petit poney à des fabricants de jouets situés dans de nombreux pays.
    Ainsi,
    des petits poneys ont été fabriqués et distribués en France, en Italie, en Espagne (par MB), en Grèce (par El
    Greco),
    en Inde, en Thaïlande, à Macao, en Afrique du Sud (par Prima Toys), en Argentine (par Top Toys), au Brésil, en
    Colombie, au Pérou (par MAXY) et au Mexique (par Lily Ledy et Auriken). Les logotypes des sous-traitants sont
    apposés
    sur les emballages des jouets en plus du logotype d'Hasbro.

    Le pays de fabrication du poney est indiqué sous les sabots. La date de création du moule y figure également.
    Toutefois, aucune indication géographique ne figure sur certains poneys (similaires à ceux produits en Espagne).
    Les
    poneys fabriqués en Grèce ne portent aucune inscription sous leur sabots. À la fin des années 1980, Hasbro regroupe
    sa production en Chine et à Hong Kong. Les petits poneys des générations 2 et 3 sont fabriqués exclusivement en
    Chine.

    <h3>Liste des types</h3>
    <h4> Génération 1</h4>
    Les G1 sont les plus diversifiés. Il y a :

    les collectors pose : ce sont les premiers poneys, ils se tiennent sur leurs quatre pattes, la tête penchée vers le
    bas.
    Les poneys terrestres.
    les poneys pégases.
    les poneys licornes.
    les poneys aquatiques : ce sont des hippocampes.
    les bébés poneys : au départ, les bébés ressemblent beaucoup aux poneys adultes, mais rapidement des bébés poneys
    originaux sont commercialisés.
    les grands frère poneys : ils sont plus grands que les autres poneys, leurs pattes ont la même forme que celles des
    percherons.
    les bébés garçons : leur pattes sont semblables à celles des grands frères poneys.
    les grandes sœurs poneys : elles sont plus minces que les autres poneys.
    Les nouveau-nés : ils sont encore plus petits que les bébés poneys.
    les poneys libellules : ils sont plus minces et plus petit que les autres poneys, ils ont des ailes en plastique
    translucide amovibles que l'on actionne en appuyant sur un bouton-poussoir situé entre les deux ailes.
    les poneys papillons : ils ont la taille des bébés poneys et des ailes en plastique translucide recouvertes de
    motifs
    colorés.
    les poulains : ce sont les poneys les plus petits.
    les moyens poneys : ce sont des poneys de taille moyenne.
    les grands poneys : ce sont les plus grands poneys.
    les poneys sirènes : ce sont de très petits poneys avec une queue de poisson argentée à la place des pattes
    arrière.

    <h4>Génération 2</h4>

    En 1995, Hasbro sort une gamme Mon petit poney revisitée. La charte graphique est également modifiée. Les poneys de
    la seconde génération sont plus longilignes et plus petits que les précédents. On les reconnaît aux brillants qui
    sont incrustés dans le motif des yeux et à l'arc-en-ciel moulé en bas-relief sous leur sabots.

    <h4>Génération 3</h4>
    En 2003, Hasbro relance la gamme Mon petit poney. Retour aux formes arrondies de la première génération. Leur
    symbole
    n'est peint que sur l'une des deux croupes. Les poneys n'ont plus de brillants dans les yeux, ni d'arc-en-ciel sous
    les sabots. En revanche, ils ont sous un des deux sabots avants un aimant permettant d'actionner les accessoires
    des
    playsets. Les derniers petits poneys génération 3 produits ne contiennent plus d'aimants.

    <h4>Génération 3.5</h4>
    En 2008 jusqu'à 2009, Hasbro sort une nouvelle gamme de "mon petit poney". Ils ont un corps très maigre comparé à
    leur tête et à leurs pattes. Le symbole n'est peint que d'un côté de la croupe et ils ont un aimant sous une seule
    patte. Cette gamme est la moins appréciée des collectionneurs.

    <h4>Génération 4</h4>
    En 2010, Hasbro lance une nouvelle gamme Mon petit poney. Comme à chaque génération, la charte graphique est
    revisitée, cette fois par Lauren Faust. En France, une seule série de figurines sera commercialisée avec un design
    plus ou moins fidèle à celui de la série, qui sera fortement contesté par les fans. Divers playsets verront aussi
    le
    jour, basés sur ses mêmes figurines. En Amérique, il y aura un deuxième type de figurines qui verra le jour, nommés
    Blind Bags : ce sont des figurines avec un design différent de l'autre série, environ 2x plus petites et sans
    cheveux
    coiffables. À la suite d'un accord avec McDonald's, une nouvelle série est donc proposée, d'une taille
    approximativement la même que l'originale mais sans cheveux coiffables. L'offre s'est déroulée dans la plupart des
    franchises McDonald's européennes sauf en France. En France et Belgique, Quick a lancé à son tour les figurines.
  </section>
</div>
