<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <ul>
    <li><a routerLink="/Races">Courses</a></li>
    <li><a routerLink="/Race">Ajouter Course</a></li>
    <li><a routerLink="/Ponies">Liste Poneys</a></li>
    <li><a routerLink="/Pony">Ajouter Poney</a></li>
  </ul>
</nav>
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>
<div id="imgPony">
  <img src="https://vignette.wikia.nocookie.net/mlp-gameloft/images/6/64/Favicon.ico/revision/latest?cb=20140302210532&path-prefix=es"
    alt="My Little Ponies">
</div>
<router-outlet></router-outlet>