<h2 *ngIf="add">Entrer un nouvel Utilisateur</h2>
<h2 *ngIf="!add">Entrer un nouvel Utilisateur</h2>
<form (ngSubmit)="onSubmit()">
  <p>Nom : <input type="text" id="name" name="name" [(ngModel)]="model.name" required/>
  <br>
  <p>Nom d'utilisateur : <input type="text" id="username" name="login" [(ngModel)]="model.username" required/>
  <br>
  <p>Email : <input type="email" id="email" name="email" [(ngModel)]="model.email" required/>
  <br>
  <p>Mot de passe : <input type="password" id="password" name="password" [(ngModel)]="model.password" required/>
  <br>
  <br>
  <button pButton label="Ajouter un nouveau Utilisateur" *ngIf="add" type="submit" class="ui-button-rounded ui-button-success"></button>
  <button pButton label="Mettre à jour Utilisateur" *ngIf="!add" type="submit" class="ui-button-rounded ui-button-success"></button>
</form>
