<h2>Entrer un nouveau Poney</h2>
<form [formGroup]="ponyForm" (ngSubmit)="onSubmit()" #spy>
  <p>Nom : <input type="text" id="name" name="name" formControlName="name" />
    <br>
  <p>Age : <input type="text" id="age" name="age" formControlName="age" />
    <br>
  <p>Poids : <input type="text" id="weight" name="weight" formControlName="weight" />
    <br>
  <p>Couleur : <input type="text" id="color" name="color" formControlName="color" /></p>
    <br>
  <button pButton type="submit" class="ui-button-rounded ui-button-success" [disabled]="!ponyForm.valid">Ajouter un nouveau Poney</button>
</form>

<p>Valeur: {{ponyForm.value | json }}</p>
<p>Status : {{ponyForm.status}}</p>
<br>CLASSES DE L'INPUT : {{spy.className}}
