body{
    background-color: #331212;
    color: white;
}

h1{
    border: 2px double pink;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

nav ul{
    list-style-type: none;
}

nav a{
    color: whitesmoke;
}

nav a:hover{
    color: whitesmoke;
}

nav a:visited{
    color: whitesmoke;
}

#imgPony{
    text-align: center;
    margin: auto;
    padding: 20px;
}

#tabPonies{
    color: pink;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
}

#tabPonies ul{
    list-style: none; 
    padding: 0;
}

#tabRaces{
    color: pink;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

#tabRaces ul{
    list-style: none;
    padding: 0;
}

#concurrent{
    border: 1px solid whitesmoke;
}