body{
    background-color: #331212;
    color: white;
}

h1{
    text-align: center;
    border: 2px double pink;
    color: palevioletred;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

h2{
    text-align: center;
    border: 2px double pink;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

form{
    text-align: center;
}

nav ul{
    list-style-type: none;
}

#menuPony{
    background-color: #331212;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 35%;
    margin-right: 35%;
}

#menuPony:hover{
    background-color: black;
    text-align: center;
    border: 1px solid snow;
    border-radius: 20px;
    margin-left: 35%;
    margin-right: 35%;
}

#imgPony{
    text-align: center;
    margin: auto;
    padding: 20px;
}

#tabPonies{
    color: pink;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
}

#tabPonies ul{
    list-style: none; 
    padding: 0;
}

#tabRaces{
    color: pink;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

#tabRaces ul{
    list-style: none;
    padding: 0;
}

#concurrent{
    border: 1px solid whitesmoke;
}