body{
    background-color: #331212;
    color: white;
}

h1{
    text-align: center;
    color: palevioletred;
    font-weight: bolder;
    margin: 0 auto;
}

h2{
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    margin: 10 auto;
}

form{
    text-align: center;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
}

p-tabMenu{
    width:100%;
    margin: 0 auto;
    border: 0;
}

#menuPony{
    background-color: #331212;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
}

#menuPony:hover{
    background-color: black;
    text-align: center;
    border: 1px solid snow;
    border-radius: 20px;
    margin-left: 35%;
    margin-right: 35%;
}

#imgPony{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

#raceCard{
    background-color: pink;
}

#ponyCard{
    background-color: pink;
}

#tabPonies{
    color: pink;
    text-align: center;
    width: 20%;
    margin: 0 auto;
}

#tabPonies ul{
    list-style: none; 
    padding: 0;
}

#tabRaces{
    color: pink;
    text-align: center;
    width: 20%;
    margin: 0 auto;
}

#tabRaces ul{
    list-style: none;
    padding: 0;
}