<h2>Entrer un nouveau Poney</h2>
<form (ngSubmit)="onSubmit()">
  <p>Nom : <input type="text" id="name" name="name" [(ngModel)]="model.name" required/>
  <br>
  <p>Age : <input type="text" id="age" name="age" [(ngModel)]="model.age" required/>
  <br>
  <p>Poids : <input type="text" id="weight" name="weight" [(ngModel)]="model.weight" required/>
  <br>
  <p>Couleur : <input type="text" id="color" name="color" [(ngModel)]="model.color" required/></p>
  <br>
  <button pButton type="submit" class="ui-button-rounded ui-button-success">Ajouter un nouveau Poney</button>
</form>
